/* Mangoz example website stylesheet.  */

/* global style */
body {
    background-color: #FFFFFF;
    text-align: left;
    padding: 0 0 0 0;
    border-spacing: 0px 0px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 85%;
    margin: 20px 20px 20px 20px;
}

a {
    text-decoration: none;
    font-weight: bolder;
}
a:link {
    color: #008055;
}
a:visited {
    color: #008055;
}
a:active {
    color: #008055;
}
a:hover {
    text-decoration: underline;
}
a.current {
    color: #FF7700;
}

h1 {
    color: #FF7700;
    font-size: 1.6em;
}
h2 {
    color: #008055;
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding: 0 0 0 12px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #FFFFFF;
}

/* stack template */
table.stack {
    width: 750px;
    border: 3px solid #008055;
    color: #333333;
}
td.stack {
    padding: 0 7px 0 7px;
    border: 1px solid black;
}

/* tree template */
td#tree {
    border-width: 1px;
    border-color: black;
    border-style: none solid none none;
    padding: 0 10px 0 0;
    vertical-align: top;
}
td#text {
    padding: 0 0 0 10px;
    vertical-align: top;
}

/* W3 certification logo */
p.w3cert {
    text-align: right;
}
img.w3cert {
    border: none;
    height: 31px;
    width: 88px;
}

/* statistics */
#stats {
    font-size: 0.7em;
}
